.example-fill-remaining-space {
    flex: 1 1 auto;
  }

  .mat-toolbar.mat-primary {
    background-color: #7ea4b3;
    color: rgb(255, 255, 255);
  }

  h4 {
      font-size: 20px;
  }

  .nav-button {
      font-size: 17px !important;
  }

  .mat-icon {
    vertical-align: middle;
 }