<div class="background">
  <br />
<h1 class="title">Contact Us</h1>

<div class="center">
    Anyone, of any age, who owns a traditional band instrument and is looking for an outlet to perform, is welcome to
    join!
    <br />
    Where: Terry Parker Baptist 7024 Merrill Rd, Jacksonville, FL 32277
    <br />
    When: Tuesday nights from 7:30-9:00pm
    <br />
    Bring your instrument and come join us on Tuesday nights all year-round!
    <br />
    To let us know you're coming or to receive more information, email Jenny Kosar Band President. 
    <br />
    jkosar25@att.net
</div>
</div>