.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(61, 60, 60);
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    border-radius: 10px;
  }
  
  .title {
    display: block;
    text-align: center;
  }
  
  .text {
    text-align: left;
  }

  .heading {
    font-size: 16px !important;
  }

  .footer {
    font-size: 20px !important;
  }

  a {
    color: white;
  }