<div class="gallery">
  <mat-grid-list cols="4" rowHeight="8:4">
    <mat-grid-tile class="grid-tile" [colspan]="2" [rowspan]="2">
      <img src="assets/band1.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band2.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band3.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band4.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <img src="assets/band10.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band6.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band7.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band8.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <img src="assets/band4.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band10.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/band11.jpg" height="100%" width="100%">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <img src="assets/band12.jpg" height="100%" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>