
.flex {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-left: 20%;
}

.background {
    background-color: rgba(61, 60, 60);
    border-radius: 10px;
    width: 35%;
}

.heading {
    font-size: 22px !important;
    font-weight: bold;
}
