.grid {
  padding: 10px;
  width: 75%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center {
 display: block;
 text-align: center;
 background-color: rgba(61, 60, 60, 0.5);
}

.title {
  display: block;
  text-align: center;
}

p {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  font-size: 18px;
  font-weight: 500;
}

